html {
    scroll-padding-top: 3em;
}
/* body {
    font-family: helvetica, arial, sans-serif;
    width: 80%;
    margin: auto;
    padding: 3em 0;
} */

/* nav,
footer {
    background-color: black;
    color: white;
    position: fixed;
    right: 0;
    left: 0;
    padding: 1em 0;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
}

ul,
footer p {
    width: 80%;
    margin: auto;
    padding-left: 0;
}

li {
    display: inline;
    padding-right: 1em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
} */

/* [id] {
    padding-top: 3.1em;
    margin-top: -3.1em;
} */

/*header {
    background-color: lightgrey;
    text-align: center; 
     padding: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}*/

/* header h1 {
    text-transform: uppercase;
} */

/* .product {
    padding: 1em 0;
    text-align: center;
}*/

/* .product img,
.product video {
    width: 100%;
    /* margin: auto;
} */

figcaption {
    text-align: justify;
}

/* form {
    background-color: lightgrey;
    border-radius: 8px;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
} */

/* input {
    box-shadow: 4px 4px black;
} */

/* input,
button {
    border-radius: 5px;
} */

/* table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
} */

/* .table-container {
    overflow: auto;
} */

/* tbody td,
th,
tfoot,
tfoot td:last-child {
    border: 1px solid black;
}

td:not(:first-child) {
    text-align: right;
}

td:nth-child(1),
tfoot td:nth-child(5) {
    font-weight: bold;
}

td:last-child {
    color: red;
}

tbody tr:nth-child(even) {
    background-color: lightblue;
}

table tr:hover {
    background-color: blue;
} */

@media (width >=768px) {
    figure:nth-child(2) {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
}

/* @media (width >=1000px) {
    form {
        display: block;
        text-align: center;
    }

    input {
        margin-right: .5em;
    }
} */