html {
    background-color: black;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

body {
    max-width: 900px;
    margin: auto;
    overflow: auto;
}

header img {
    width: 100px;
}

h1 {
    margin: 50px;
    font-size: 5rem;
}

header h2 {
    font-weight: 100;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

p a {
    color: darkblue;
}


p a:visited {
    color: lightblue;
}

p a:hover,
a:hover,
.name a:hover {
    color: purple;
}

p a:focus,
a:focus,
.name a:focus {
    color: darkred;
}

p a:active,
a:active,
.name a:active {
    color: red;
}

nav {
    margin: 15px;
    font-size: 1.25rem;
}

footer {
    background-color: gray;
    border: 7px outset darkgray;
    border-radius: 10px;
    color: black;
    padding: 15px 2px 2px;
}

article {
    letter-spacing: 2px;
    line-height: 35px;
}

span {
    font-style: italic;
    font-weight: 700;
}

#interior-pic {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.name a {
    text-transform: uppercase;
    text-shadow: 6px 6px 6px grey;
    color: white;
    font-size: 6rem;
}

.logo {
    display: inline-block;
    margin-bottom: -20px;
    margin-top: -40px;
}